<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { css }) %>

  <body>
    <form method="POST" action="/new">
      <div class="authorName">
        <label for="name">
          Author's Name:
          <input type="text" id="name" name="authorName" />
        </label>
      </div>

      <div class="authorMessage">
        <label for="message">
          Message:
          <input type="text" id="message" name="messageText" />
        </label>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
