<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title, css }) %>
  <body>
    <h1>Message:</h1>
    <% message.map(msg => { %>
    <p><%= msg.message %></p>
    <% }) %>
  </body>
</html>
