* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
li {
  font-size: 1.5rem;
  list-style: none;
  margin: 1em 0;
}
p {
  margin: 0.3em 0;
}
